*{
    box-sizing: border-box;
}
@font-face {
    font-family: myFont;
    src: url(../fonts/CaviarDreams.ttf);
  }
body{
    margin: 0;
    font-family: myFont;
    background-color: #edeeef;
    color: #495057;
}

a{
    cursor: pointer;
}
.options a{
    background-color:rgba(132, 130, 127, 0.33);
    border-radius: 40px;
    padding: 2px 5px;
}
.options a:hover{
    background-color:rgba(132, 130, 127, 0.719);
    transition-duration: 0.5s;
}
header{
    text-align: center;   
    font-size:30px ;
    background-color:#495057;
    color: #edeeef;
}
.srch{
    display: flex;
    justify-content: center;
}
.sname{
    padding-right: 10%;
}
.searchbox{
    display: inline;
    background-color: rgba(47, 46, 46, 0.623);
    padding: 15px 10px 15px 20px;
    border-radius: 40px;
}
.searchbox:hover{
    box-shadow: inset 20px 0px #ffffff61;
    transition-duration: 0.5s;
}
.searchbox ::placeholder{
    color: rgb(213, 214, 214);
}
.searchbtn{
    background-color: rgba(255, 255, 255, 0.705);
    color:rgba(77, 71, 71, 0.952) ;
    border-radius: 50%;
    padding: 10px 11px;
    justify-content: center;
    align-items:center; 
}
.searchbtn:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(172, 172, 172, 0.37);
    transition-duration: 0.5s;
    
}
input[type=text]{
    border: none;
    background: none;
    outline: none;
}
label{
    font-size: 25px; 
}
table{
    margin: auto; 
    border-collapse: collapse;
    margin-top:10px;
}
table th{
    font-size: 20px;
    background-color: rgb(44, 168, 168);
    text-align: left;
    color: white;
    padding: 4px 100px 4px 8px;
}
table td{
    border: 1px solid rgb(44, 168, 168);
    padding: 4px 15px;
    color: black;
}
#a{
    color: rgb(216, 52, 52);
}
#b{
    color: rgb(16, 112, 16);
}
#c{
    color: rgb(61, 61, 216);
}
