*{
    box-sizing: border-box;
}
body{
    background-color:rgb(230, 235, 235);
    color: azure;
    margin: 0;
}
.navigation_bar{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color:black;
    letter-spacing: 5px;
    width:100%;
    padding: 25px;
}
.uname{
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    display: inline-block;
}
.nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right; 
    display: flex;
    }
.n1,.n2,.n3{
    padding: 0px 5px;
}
.navigation_bar a:hover{
    color:yellow;
    cursor: pointer;
}
.dp img{
    position: relative;
    top :150px;
    left:550px;
    height: 300px;
    width: 300px;
    border-radius:50%;
    border: 2px black solid; 
}